= simple_form_for reporte, html: { class: "reporte form" } do |f| 
  - if reporte.errors.any? 
    .error-message
      = reporte.errors.full_messages.to_sentence.capitalize 
  = f.input :nombre, input_html: { autofocus: true } 
  .btn.btn--secondary=f.submit 
