= turbo_stream.prepend "reportes" do 
  = render partial: "reportes/reporte", locals: { reporte: @reporte } 

= turbo_stream.update Reporte.new, "" 
= turbo_stream.prepend "flash", partial: "layouts/flash"

