.container
  = link_to sanitize("&larr; Volver a Reporte"), reporte_path(@reporte)
  .header

    %h1 Editando reporte

  = turbo_frame_tag dom_id(@reporte) do
    = render "form", reporte: @reporte 
