%p#notice=notice 


<!-- HTML !-->
-#<button class="button-49" role="button">Button 49</button>


%h1 Reportes

= turbo_stream_from @reportes

-#= tubo_stream_tag 'reportes', :src => "/reportes"
= turbo_frame_tag 'reportes' do
  = render @reportes

= link_to "Nuevo reporte", new_reporte_path 
