-##https://www.hotrails.dev/turbo-rails/turbo-streams
= turbo_stream_from 'reportes'

%p#notice=notice 


<!-- HTML !-->
-#<button class="button-49" role="button">Button 49</button>


%h1 Reportes


-#= tubo_stream_tag 'reportes', :src => "/reportes"
= turbo_frame_tag 'reportes' do
  = render @reportes

-#new reporte no lo estoy usando embebido todavía
-#así que no está en ningún turbo_frame_id
= link_to "Nuevo reporte", new_reporte_path 
