
%h1 Bienvenido
-#= link_to "Electricista a Domicilio en Providencia. Chile.", reportes_path
-#%small
  -#ga este link para un llamado rápido de un electricista.
  Este NO es un sitio seguro, y es de uso colectivo.
  Puede haber muchas personas interactuando.
  Puede que le borren su solicitud.
  Ud. puede borrar las de otros.
  
.container
  = link_to sanitize("&larr; Volver a reportes"), reportes_path 
  .header
    %h1 Nuevo reporte
  = turbo_frame_tag "new_reporte" do
    =  render "form", reporte: @reporte 
