%h1 Bienvenido
= link_to "Electricista a Domicilio en Providencia. Chile.", reportes_path 
%small
  Siga este link para un llamado rápido de un electricista.
  No es un sitio seguro, y es de uso colectivo.
  Puede haber muchas personas interactuando.
  Puede que le borren su solicitud.
  Ud. puede borrar las de otros.

%h2 ¿Cómo se llama UD.?

<!-- HTML !-->
<button class="button-49" role="button">Button 49</button>


%div{:"data-controller" => "hello" }
  %input{ :"data-hello-target" => "name", :type => "text"}
  %button.btn{ :"data-action" => "click->hello#greet"}
    Hola
  %span{ :"data-hello-target" => "output"}
    
= link_to "alectrico", "https://www.alectrico.cl/agendar"
%small
  alectrico.cl es un sitio SEGURO. 
