%h1 Bienvenido
= link_to "Reportes", reportes_path 

%h2 Ingrese un nombre

%div{:"data-controller" => "hello" }
  %input{ :"data-hello-target" => "name", :type => "text"}
  %button{ :"data-action" => "click->hello#greet"}
    Hola
  %span{ :"data-hello-target" => "output"}

