-#=turbo_stream_from 'flash'
= turbo_frame_tag 'flash' do
  -flash.each do |flash_type, message|
    %div.flash__message{"data-controller" => "removals",  "data-action" => "animationend->removals#remove"}
      = message 

-#{"data-controller" => "removals",  "data-action" => "animationend->removals#remove"}

